body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
#board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    cursor: pointer;
    position: relative;
}

h1 {
    color:goldenrod;   
}

.line {
    color: greenyellow;
    /* margin: 10px;
    background-color: blueviolet; */
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* now adding borders to our squares */

.right-border {
    border-right: 0.2em solid rgb(226, 14, 14);
}

.bottom-border {
    border-bottom: 0.2em solid rgb(226, 14, 14);
}

/* adding the style for the strikes */

.strike {
    position: absolute;
    background-color: darkorchid;
}
/* centering the strike lines */
.strike-row-1 {
    width: 100%;
    height: 4px;
    top: 15%;
}

